/* *-----------Resume page's landing page - ( body className .site )-------------* */


body {
  background-color: teal;
  /* background-color: black; */

}


/* **-----resumeHero is the div that holds hero, resumeTitle and resumeSubtitle------** */


.resumeHero {

  /* border: 15px solid blue; */

  display: grid;
  grid-template-columns:  20% 30% 30% 20%;
  /* grid-template-rows: 20% 10% 50% 20%; */
  grid-gap: 1.5em;
 




}

/* *-----------"Scott Patrick Dancer" ( div className .resumeTitle )----------* */



.resumeTitle {
  grid-column: 1 / 5;
  justify-content: center;
  text-align: center;
  grid-row: 1/2;
  z-index: 2;
  padding-top: 5%;

}







/* **--------"Dreamers are the..." ( div className .resumeSubtitle )-----------** */

.resumeSubtitle {
  grid-column: 2 / 4;
  text-align: right;
  grid-row: 2 / 3;
  z-index: 2;
}











/* **-------Rainbow Laptop Image ( div className .hero )--------------** */




.hero {
  display:grid;
  grid-column: 1 / 5;
  grid-row: 1 / 4;
}



















/* **-----This Next Section is className .summary this includes .profilePic, .summaryText, .contactInfo-------** */
/* **-------------whole summary area ( section className .summary )------------** */


.summary {
  /* background-color:rgb(153, 143, 143); */
  background-color:black;
  /* border-top: 5px solid red; */
  /* border: 5px solid red; */


  display: grid;
  grid-template-columns:  20% 30% 30% 20%;
  grid-gap: 1.5em;

   /* grid-template-rows: 20% 10% 50% 20%; */
}



/* **--------"Graphic & Web Designer..." ( h2 className .heading .headingSummary )--------** */


.headingSummary {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  justify-content: center;
  text-align: center;
  padding-top: 2%;


}







/* **-------Portfolio Headshot ( img className .profilePic)------** */


.profilePic {
  grid-column: 1 / 2;
  grid-row: 1 /4;
  margin-top: 20px;
  margin-left: 20%;
}















/* **-------"Full Stack Web..." ( div className .summaryText )--------** */




.summaryText {
  grid-column: 2 / 4;
  text-align: justify;
  
}






/* **-------Contact Information & Links ( div className .contactInfo )-----** */



.contactInfo {

  grid-column: 2 / 4;
  text-align: center;
  justify-content: center;
  margin-bottom: 3%;
  /* list-style-type: none;
  text-decoration: none; */
  
}

.contactInfo ul {

  list-style-type: none;

 
}

.contactInfo a {

  
  text-decoration: none;
  color:#877D74;
  /* color: red; */
}




/* **-----------shiny red pdf logo ( img className .pdfLogo )--------------** */

.pdfLogo {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  margin-left: 25%;
  /* margin-top: 10%; */
  
}


/* **-----This Next Section is className .footer this includes .footerContent, .footerContactList, .contactLinks-------** */
/* **--------------whole footer area ( section className .footer )------------** */

.footer {
  display: grid;
  grid-template-columns:  20% 30% 30% 20%;
  grid-gap: 1.5em;
}

/* **--------------div footer area ( section className .footerContent )------------** */

.footerContent {
  grid-column: 2 /4;
}

.footerContent h2{
  padding-top: 2%;
 
}

/* **--------------ul in footer area ( section className .footerContactList )------------** */

.footerContactList {

}

/* **--------------li in footer area ( section className .footerContactLinks )------------** */

.footerContactLinks {
  
}