body {
  /* background-color: teal; */
  /* background-color: black; */
  margin: 0;
  padding: 0;
}


/* ----------testing resume.css in resumeGrid.css to clean up and understand the code----------------- */
/* **-----------------------resumeHero is the div that holds hero, resumeTitle and resumeSubtitle------------------** */



/* ----------testing resume.css in resumeGrid.css to clean up and understand the code----------------- */
/* **-----------------------Rainbow Laptop Image------------------** */

.hero {
  background-image: url("../images/hero-comp.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;

  /* justify-content: center; */
  /* position: absolute; */
  /* right: 0; */
  width: 100%;
  min-height: 100vh;


  /* ------------I don't think I need this padding---------- */
  /* padding: 100px; */


  /* ------------This adds a space between resumeTitle and resumeSubtitle, why???---------- */
  /* justify-content: space-between; */


  /* -----Aligning the resumeTitle and resumeSubtitle (May need to be removed)---------------- */
  align-items: center;


 
  /* -----I don't believe I need this until I decide to play around with a cool transition for this resume page---------------- */ 
  /* transition: .5s; */

}



/* ----------testing resume.css in resumeGrid.css to clean up and understand the code----------------- */
/* **-----------------------"Scott Patrick Dancer"------------------** */

.resumeTitle {
  font-size: 9rem;

   /* ---------- silver color options ----------------- */
  /* color: #877D74; */
  /* color: #BBC2CC; */
  color: #A8A9AD;


  font-family: 'Tangerine', cursive;
  margin: 0;

/* ---------- may not need once I impliment grid ----------------- */

  /* font-weight: 200; */
  /* line-height: 10rem; */
  /* height: 35px; */
  /* margin-top: 50px; */
  /* margin: 0; */
  /* text-align: center; */


}

/* ----------testing resume.css in resumeGrid.css to clean up and understand the code----------------- */
/* **-----------------------"Dreamers are the..."------------------** */

.resumeSubtitle {
  font-family: 'Tangerine', cursive;


  /* ---------- silver color options ----------------- */
   /* color: #877D74; */
  /* color: #BBC2CC; */
  color: #A8A9AD;


  font-size: 30px;
  font-weight: 600;
   margin: 0;



  /* text-align: right; */
  /* padding-right: 10%; */
  /* margin-bottom:  50px; */
  /* margin-right: 100px; */

  /* ------------------this controls spacing underneath the resumeTitle aka: Scott Patrick Dancer------------- */
  /* line-height: 9rem; */

  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}






/* ----------testing resume.css in resumeGrid.css to clean up and understand the code----------------- */

/* **-----This Next Section is className .summary this includes .profilePic, .summaryText, .contactInfo-------** */

/* **-------------------------------.summary------------------------------** */

.summary {
  background-color: black;
  color: white;
}

/* **--------------------------Portfolio Headshot (.profilePic)------------------------** */

.profilePic {
  width: 150px;
  height: 185px;
  border-radius: 100%;

  /* ---------- silver color options ----------------- */
 
  /* border: 3px solid #877D74; */
  /* border: 3px solid #BBC2CC; */
  border: 3px solid #A8A9AD;


  filter: grayscale(77%);

}

